@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html{
   
      scroll-behavior: smooth;
}

body{
    /* background-color: #121212; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F9F9F9;
      font-family: 'Outfit', sans-serif;
       color: #ffff;
}

header {
     background-color: #F7F217;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: black;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 999;
     padding: 10px;
}

header h2{
  
   margin-left: 60px;
}

header a{
     text-decoration: none;
     margin-left: 40px;
     color: black;
     font-size: 1.1rem;
     font-weight: 400;
}


header button{
    padding: 0.4rem 30px;
    background-color: transparent;
    border: 2px solid black;
    font-weight: 500;
    border-radius: 40px;
    margin-right: 70px;
}


main{
    background-color: #121212;
    border-bottom-right-radius: 332px;
}

.home_tasks {
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_tasks {
    text-align: center;
}


.home_tasks div p {
    border-radius: 20px;
    color: #ffffff9a;
}


.home_tasks div h1{
    font-size: 70px;
    margin-top: -10px;
}

.home_tasks div h1 span,
.home_tasks div h2 span{
  color: #F7F217;
}



.image_tasks{
    display: flex;
    align-items: center;
    justify-content: center;
}


.image{
     position: relative;
}

.image img {
    width: 340px;
    /* height: 300px; */
    position: absolute;
    left: 20%;

    object-fit: cover;
}

.back{
   padding:5.2rem 62px ;
  
   width: 60%;

   position: absolute;
   border-bottom-right-radius: 332px;
   top: 63.5%;
}


.content{
    margin-top: -13%;
    max-width: 300px;
}

.content h1{
    font-size: 4rem;
    margin-bottom: -10px;
}

.content h2{
    font-size: 1.5rem;
    margin: 0;
    border: 1px solid #ffff;
    width: fit-content;
    padding: 0.5rem 40px;
    border-radius: 40px;
}

.content h2 i{
    color: #F7F217;
}

.content p{
     color: #ffffffe2;
}

.content  button{
    padding: 0.5rem 30px;
    background-color: #F7F217;
    color: #121212;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid #ffff;
    box-shadow: 10px 10px 0 #ffff;
    cursor: pointer;
    border: 2px solid black;
}

.woman_content{
   display: flex;
   align-items: center;

   gap: 20px;
   margin-top: -10px;
}

.woman_content p{
   margin-top: -10px;
}
.woman_content img{
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fffb00;
}


.students{
  color: #121212;
   padding-top: 5rem;
   display: flex;
   align-items: center;

   margin-left: 50px;
 
}

.students button{
    padding: 0.5rem 30px;
    background-color: #F7F217;
    color: #121212;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid #ffff;
    box-shadow: 5px 5px 0 #121212;
    cursor: pointer;
    border: 2px solid black;
}

.students_p{
    margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.content_students{
    max-width: 600px;
    
}

.students-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
}


.mySwiper {
  width: 35%;

}

.card {
  background: #fff;
  border-radius: 15px;
 border-left: 6px solid #F7F217;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.card img{
    width: 55px;
    background-color: #F7F217;
    border-radius: 50%;
    border: 2px solid black;
}

.name-students{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.name-students h4{
   
    position: absolute;
    top: 25px;
    left: 70px;
  
}

.Courser_n{
    margin-top: 4rem;
    background-color: #121212;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}

.Courser_stu{
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: #252525;
     border-radius: 370px;
     padding: 40px;
     border-top: 2px solid #F7F217;
     border-left: 3px solid #F7F217;
    
    
}

.Courser_stu i{
    font-size: 2.4rem;
    margin-left: -20px;
}

.Courser_stu h1{
    color: #F7F217;
}



.video-section {
  text-align: center;
  padding: 80px 20px;
  font-family: Arial, sans-serif;

}

.video-section h4 {
  color:#121212;
  font-weight: 400;
  margin-bottom: 10px;
}

.video-section h2 {
  color: #111;
  font-size: 32px;
  margin-bottom: 15px;
}

.video-section p {
  color:#121212;
  max-width: 500px;
  margin: 0 auto 50px;
  line-height: 1.6;
}

.video-box {
  width: 100%;
   max-width: 600px;  
  height: 320px;      
  margin: 0 auto;
  overflow: hidden;
  background-color: #F9F9F9;
  border-left: 10px solid #F7F217;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;

}

.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
