@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html{
   
      scroll-behavior: smooth;
}

body{
    /* background-color: #121212; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F9F9F9;
      font-family: 'Outfit', sans-serif;
       color: #ffff;
}

header {
     background-color: #F7F217;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: black;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 999;
}

header h2{
  
   margin-left: 60px;
}

header a{
     text-decoration: none;
     margin-left: 40px;
     color: black;
     font-size: 1.1rem;
     font-weight: 400;
}


header button{
    padding: 0.4rem 30px;
    background-color: transparent;
    border: 2px solid black;
    font-weight: 500;
    border-radius: 40px;
    margin-right: 70px;
}


main{
    background-color: #121212;
    border-bottom-right-radius: 332px;
}

.home_tasks {
    padding-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_tasks {
    text-align: center;
}


.home_tasks div p {
    border-radius: 20px;
    color: #ffffff9a;
}


.home_tasks div h1{
    font-size: 70px;
    margin-top: -10px;
}

.home_tasks div h1 span,
.home_tasks div h2 span{
  color: #F7F217;
}



.image_tasks{
    display: flex;
    align-items: center;
    justify-content: center;
}


.image{
     position: relative;
}

.image img {
    width: 340px;
    /* height: 300px; */
    position: absolute;
    left: 20%;

    object-fit: cover;
}

.back{
   padding:5.2rem 62px ;
  
   width: 60%;
   /* background-color: #121212; */
   /* box-shadow: 0 0 30px #121212; */
   position: absolute;
   border-bottom-right-radius: 332px;
   top: 63.5%;
}


.content{
    margin-top: -13%;
    max-width: 300px;
}

.content h1{
    font-size: 4rem;
    margin-bottom: -10px;
}

.content h2{
    font-size: 1.5rem;
    margin: 0;
    border: 1px solid #ffff;
    width: fit-content;
    padding: 0.5rem 40px;
    border-radius: 40px;
}

.content h2 i{
    color: #F7F217;
}

.content p{
     color: #ffffffe2;
}

.content  button{
    padding: 0.5rem 30px;
    background-color: #F7F217;
    color: #121212;
    font-weight: 600;
    border-radius: 40px;
    border: 1px solid #ffff;
    box-shadow: 10px 10px 0 #ffff;
    cursor: pointer;
    border: 2px solid black;
}

.woman_content{
   display: flex;
   align-items: center;
   /* justify-content: space-around; */
   gap: 20px;
   margin-top: -10px;
}

.woman_content p{
   margin-top: -10px;
}
.woman_content img{
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fffb00;
}




.my_card{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
   margin-top: 4rem;
}


.card {
  /* position: relative; */
  background-color: #121212;
  width: 500px;
  height: 254px;
  
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  border-left: 10px solid #F7F217;
  border-top-left-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: white;
}



.card .links{
    text-decoration: none;
    background-color: #F7F217;
    margin-top: 20px;
    width: fit-content;
    padding: 0.4rem 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #ffffffc3;
    font-weight: 500;
}

.card .links a{
     color: black;
     text-decoration: none;
}

.card img{
     width: 150px;
     background-color: #fffffff1;
     border-radius: 10px;
     border-right: 2px solid black;
     padding: 20px;
     box-shadow: 10px 10px #F7F217;
}

.card p{
   color: #ffffffe2;
   font-weight: 250;
}

.card::before {
  content: '';
  position: absolute;
  inset: 2;
  /* left: -5px; */
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #F7F217 0%,#fffb00 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fffb00  0%, #F7F217 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


